<h1>Usuarios</h1>
<%= link_to "Crear nuevo usuario", new_user_path %>
<ul>
    <table style="width:100%">
      <tr>
        <th>ID</th>
        <th>Nombres</th>
        <th>Apellidos</th>
      </tr>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><a href="/users/<%= user.id %>">Ver</td>
        <td><a href="/users/<%= user.id %>/edit">Editar</td>
        <td><%= link_to "Eliminar", user_path(user),
                  method: :delete,
                  data: { confirm: "¿Estás seguro?" } %></td>
      </tr>
      <% end %>
    </table> 
</ul>
<p>Find me in app/views/users/index.html.erb</p>
