<h1>Usuario #<%=@user.id%></h1>
<ul>
    <table style="width:100%">
      <tr>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Estado</th>
        <th>¿Es admin?</th>
      </tr>
      <tr>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.email %></td>
        <td><%= @user.state %></td>
        <td><%= @user.admin %></td>
      </tr>
    </table> 
</ul>
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to "Eliminar", user_path(@user),
                  method: :delete,
                  data: { confirm: "¿Estás seguro?" } %> | 
<%= link_to 'Regresar', users_path %>
